body{
    background-color: black;
    font-size: 50px;
    margin: 10px;
    background: linear-gradient( to left, white, red); 
    
}
   
header{
    background-color: black;
    text-align: center;
    background-image: url("fon.jpeg");
    background-size: cover;
    color: orange;
    background-position: center;
    background-position-y: center;
    background-position-x:center;
    padding-top: 50px;
    
    background: linear-gradient( to left, white, red); 
    
}
footer{
    background-color: aquamarine;
    
}
h1{
    padding-top: 50px;
}
main{
    
}
div{
    height: 100%;
    width: 50%;
}
.box1{
    background: linear-gradient( to left, white, red); 
    padding: 10px
}
  
   
.box2{
    background: linear-gradient( to left, white, red); 
    padding: 10px;
} 
.box3{
    padding-left: 400px
}


main{
    display: flex;
    text-align: center;
}
.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}
